.TextInput {
    font-size: large;
    border: 1px solid #EEEEEE;
    padding: 5px;
    border-radius: 3px;
    display: block;
    margin: 5px auto;
}

.TextInput:focus {
    outline: none;
    border-color: #719ECE;
    box-shadow: 0 0 rgb(50, 100, 153);
}

.boldText {
    color: rgb(0, 47, 64);
}

.Radio {
    font-size: small;
}

.Button {
    display: block;
    margin: 15px auto;
    padding: .5rem;
    font-size: 1em;
    font-weight: bold;
    background: yellow;
    border-radius: 5px;
    color: rgb(0, 47, 64);
    cursor: pointer;
}

.Select {
    margin-top: 20px;
    margin-left: 5px;
}

small {
    margin-top: 0;
    font-size: 0.7em;
}