.App {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  background-color: #eaf1fd;
}

.App-header {
  background-color: rgb(5, 186, 251);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #031840;
}

.App-header h1 {
  font-size: 350%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.App-link {
  color: #61dafb;
}

main {
  flex-grow: 1;
  text-align: center;
  padding: 0px;
  margin: 0;
}


@media only screen and (max-width: 450px) {
  .App-header h1 {
    font-size: 200%;
  }
}

